{:source-paths ["src"]
 :js-options {:js-package-dirs ["node_modules"]}
 :builds
 {:client
  {:target :browser
   :output-dir "public/assets"
   :asset-path "/assets"
   :modules {:loam-client {:entries [loam.client]}}
   :compiler-options {:output-feature-set :es-next-in}}}}
